@font-face {
    font-family: 'Baloo Da 2 Bold';
    src: url('../fonts/BalooDa2-Bold.ttf');
}
.input{
    -fx-background-color: #f1f1f1;
    -fx-font-size: 13px;
    -fx-background-radius: 10px;
    -fx-padding: 5px 20px;
    -fx-border-width: 1px;
    -fx-border-color: #d3d3d3;
    -fx-border-style: solid;
    -fx-border-radius: 10px;

}

.input:focused
{
    -fx-border-width: 1px;
    -fx-border-color: #465071;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.top{
    -fx-background-image: url('../img/wave-haikei (1).svg');
}
.btn
{
    -fx-padding: 10px 30px;
    -fx-background-radius: 10px;
    -fx-text-fill: #465071;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}
.btn:hover,.btn1:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.btn1
{
    -fx-padding: 10px 30px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-background-color: #465071;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

#remember
{
    -fx-text-fill: white;
}
#remember .box
{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #a2a0a0;
}
#remember:selected .mark
{
    -fx-background-color: #465071;
}
.svg
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.controlBtn:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.detailsBody
{
    -fx-background-color: #cee7f5;
    -fx-effect: dropshadow(three-pass-box, #171f30, 10, 0, 0, 0);
}
.outputfield
{
    -fx-border-color: #465071;
    -fx-border-width: 0 0 1 0;
}
.font{
    -fx-font-family: 'Baloo Da 2 Bold';
    -fx-font-size: 56px;
}
.email{
    -fx-background-color: #fff;
    -fx-border-width: 0.5px;
    -fx-background-radius: 0px;
    -fx-border-color: #48bc9f;

}
.email:focused{
    -fx-border-width: 1px;
}
#emailIValid{
    -fx-animated: myanimation 10s infinite;
}
@keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.viewport {
    -fx-background-color: transparent;
}
